<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Nc1ExNwStress1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Nc1ExNwStress1.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Serv" serializeAs="String">
                <value>10011</value>
            </setting>
            <setting name="CtMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PkBfMax" serializeAs="String">
                <value>6</value>
            </setting>
        </Nc1ExNwStress1.Properties.Settings>
    </userSettings>
</configuration>
